# === Core ===
numpy
scipy
matplotlib

# === Astronomy / spherical harmonics ===
astropy
healpy
pyssht
lie_learn
s2wav==1.0.4
git+https://github.com/astro-informatics/s2fft

# === ML ===
jax[cuda12]==0.5.3
jaxlib==0.5.3
flax==0.10.6
chex
optax
orbax-checkpoint
ml_dtypes
tensorstore
opt_einsum
tensorflow[and-cuda]
tensorflow-datasets
# === Utilities ===
requests
PyYAML==6.0.0
rich
humanize
colorlog

# === PyTorch ===
torch

# === Testing ===
pytest

# === s2ai ===
# You will need to install the latest version of s2ai (github.com/astro-informatics/s2ai)
# As of August 2025 this is a private repo with plans to release soon.
# See README.md
